*,html{margin:0;padding:0;box-sizing: border-box;}
body{
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background:#212529!important;
    color: #eee;

}
a{
    text-decoration: none;
    color: #eee;
}
a:hover{
    color: #fff;
}
img{
  max-width: 100%;
  object-fit: contain;
}
p{
    margin: 0;
}
li{
    list-style: none;
}
input[type="text"]{
  width: 100%;
}
input[type="checkbox"]{
  cursor: pointer;
}
ol, ul{
    padding: 0;
}
main{
    min-height: 627px;
    overflow: hidden;
  }
  .navbar-brand{
    color: #eee !important;
   padding: 10px;
    margin: 0;
  }

  footer{
    height:70px;
    width:100%;
    background:black;
    text-align: center;
    color: #eee;
  }
.wrapper{
  padding-top: 106px;
  padding-bottom: 20px;
  min-height: 680px;
}
  