.item {
    display: -webkit-flex;
    flex-direction: column;
    min-width: 230px;
    max-width: 230px;
    height: 400px;
    margin-right: 15px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 75%;
        left: 0;
        right: 0;
        background-color: #000;
        opacity: 0;
        z-index: 99;
        transition: opacity 0.3s ease-in-out;
    }
    :hover::after {
        opacity: 0.2;
    }
    img {
        object-fit: cover;
    }

    .name {
        font-size: 17px;
    }
    .name-small {
        font-size: 15px;
        color: #abb7c4;
    }
    .btn-like {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 26px;
        background: transparent;
        outline: none;
        color: #eee;
        border: none;
        transition: 0.3s ease-in-out;
        i {
            display: block;
        }
        &:hover {
            color: deeppink;
        }
    }
}
